<a href="https://colab.research.google.com/github/jgonzalezar/MetNumUN2021II/blob/main/Lab%201/jgonzalezar_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<br></br>

<b>Universidad Nacional de Colombia</b>

<b>Métodos Numéricos - Grupo 1</b>

<b>Primer Laboratorio</b>

</div>

<div align="right">

<b>Presentado por: Juan Andrés Gonzalez Arias</b>

</div>

<br></br>

#Primer Laboratorio. Tutorial 1 Python: Data Types and Data Structures

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

### 01 Data Types and Data Structures

### Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

### Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [2]:
mi_cadena = 'Hola Juan'
mi_cadena2 = "Andrés Gonzalez Arias"
print(mi_cadena + ' ' + mi_cadena2)

Hola Juan Andrés Gonzalez Arias

An integer is a round number with no values after the decimal point.

In [3]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [4]:
mi_entero = 2021
print(mi_entero)
print(type(mi_entero))

2021
<class 'int'>

The built-in function int() can convert a string into an integer.

In [5]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [6]:
mi_cadena = "2021"
print(type(mi_cadena))
mi_entero = int(mi_cadena)
print(type(mi_entero))
print(mi_entero)

<class 'str'>
<class 'int'>
2021

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [7]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [8]:
mi_cadena = "2021"
mi_float = float(mi_cadena)
print(type(mi_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [9]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [10]:
mi_booleano = True
print(mi_booleano)
print(type(mi_booleano))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [11]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [12]:
print("Suma -> ", 2020+1)
print("Resta -> ", 2023-2)
print("Multiplicación -> ", 1011*2)
print("División -> ", 4042/2)
print('Potenciación -> ', 21**3)

Suma ->  2021
Resta ->  2021
Multiplicación ->  2022
División ->  2021.0
Potenciación ->  9261

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [13]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [14]:
print(5/3)
print(5/3)

1.6666666666666667
1.6666666666666667

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [15]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [16]:
mi_lista = ['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]
print(mi_lista)

['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [17]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [18]:
mi_lista = ['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]
print(len(mi_lista))
print(mi_lista[0])
print(mi_lista[len(mi_lista) -1])

5
Juan Andrés Gonzalez
2021

You can also change the elements in the list by accessing an index and assigning a new value.

In [19]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [20]:
mi_lista = ['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]
mi_lista[2] = 'Grupo 1'
print(mi_lista)

['Juan Andrés Gonzalez', 'Métodos Numéricos', 'Grupo 1', 10, 2021]

A list can also be sliced with a colon:

In [21]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [22]:
mi_lista = ['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]
print(mi_lista[1:4])

['Métodos Numéricos', 16, 10]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [23]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [24]:
print(mi_lista[1:])

['Métodos Numéricos', 16, 10, 2021]

And all elements up to but excluding index 3:

In [25]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [26]:
print(mi_lista[:3])

['Juan Andrés Gonzalez', 'Métodos Numéricos', 16]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [27]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [28]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [29]:
mi_lista2 = ['Juano', 'Juan Gonzalez']
mi_lista2.append('Juano')
print(mi_lista2)

['Juano', 'Juan Gonzalez', 'Juano']

In [30]:
mi_lista2.remove('Juano')
print(mi_lista2)

['Juan Gonzalez', 'Juano']

When there are repeated instances of "Hello" or "Juano", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [31]:
my_tuple = ('Welcome','to','QuantConnect')

In [32]:
mi_tupla = ('El Curso','de','Métodos Numéricos')

Just like a list, a tuple can be sliced by using index.

In [33]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [34]:
mi_tupla = ('El Curso','de','Métodos Numéricos')
print(mi_tupla[1:])

('de', 'Métodos Numéricos')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [35]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'AAPL', 'FB', 'F', 'GOOG', 'IBM'}

In [36]:
lista_conjunto = ['MN','ALG','GERGES','OPT','REDCOMP','ALG','OPT']
mi_conjunto = set(lista_conjunto)
print(mi_conjunto)

{'REDCOMP', 'ALG', 'OPT', 'GERGES', 'MN'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [37]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [38]:
print(my_dic['GOOG'])

Alphabet

In [39]:
mi_diccionario = {'MN':'Métodos Numéricos', 'ALG':'Algorítmos', 'GER':'Gerencia', 'OPT':'Optimización'}

In [40]:
print(mi_diccionario['MN'])

Métodos Numéricos

After defining a dictionary, we can access any value by indicating its key in brackets.

In [41]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [42]:
mi_diccionario['GER'] = 'Gerencia y Gestión'
print(mi_diccionario['GER'])

Gerencia y Gestión

We can also change the value associated with a specified key:

In [43]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [44]:
print(mi_diccionario.keys())

dict_keys(['MN', 'ALG', 'GER', 'OPT'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [45]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [46]:
mi_string = 'Primer Laboratorio de Métodos Numéricos'
print(mi_string[7:])

Laboratorio de Métodos Numéricos

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [47]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [48]:
print('Cuantas letras s aparecen en esta frase'.count('s'))
print('La primera vez que a aparece en la frase'.find('a'))
print('Las letras e de esta frase se convierten en i'.replace('e','i'))

5
1
Las litras i di ista frasi si conviirtin in i

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [49]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [50]:
Time = '2021-10-06 21:40:00'
tiempo_dividido = Time.split(' ')
fecha = tiempo_dividido[0]
tiempo = tiempo_dividido[1]
print(fecha, tiempo)
hora = tiempo.split(':')[0]
print(hora)

2021-10-06 21:40:00
21

We can replace parts of a string by our variable. This is called string formatting.

In [51]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [52]:
mi_tiempo = 'Hora: {}, Minuto:{}'.format('21','44')
print(mi_tiempo)

Hora: 21, Minuto:44

Another way to format a string is to use the % symbol.

In [53]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [54]:
print('la raíz cuadrada de 2 es %f'%1.41421)
print('%s de %s'%('Laboratorio','Metodos numéricos'))

la raíz cuadrada de 2 es 1.414210
Laboratorio de Metodos numéricos

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

#Segundo Laboratorio. Tutorial 2 Python: Logical Operations and Loop

## 02 Logical Operations and Loops

## Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

## Logical Operations
Like most programming languages, Python has comparison operators:

In [55]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [56]:
print(2 == 1)
print(3 == 3)
print(12 != 2)
print(2021 >= 2021)
print(2020 >= 2021)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [57]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [58]:
print(2021 > 2020 and 2022 > 2021)
print(2021 > 2020 and 2022 < 2021) 
print(2021 > 2020 or 2022 < 2021)
print(2021 < 2020 and 2022 < 2021)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [59]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [60]:
print((2021 > 2022 and 2022 >2023) and (2020 < 2021 and 2022 != 2021) and not (2021 != 2021))
print((2021 < 2022 and not 2022 >2023) or (2020 < 2021 and 2022 != 2021) and not (2021 != 2021))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

## If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [61]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [62]:
i = "Laboratorio"
if 'x' in i:
  print('Laboratorio si tiene la letra a')

As we mentioned above, we can write some complex statements here:

In [63]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [64]:
i = "Laboratorio"
if 'e' in i:
  print('Laboratorio si tiene la letra e')
elif 's' in i:
  print('Laboratorio si tiene la letra s')
else:
  print('Laboratorio no tiene ni e ni s')

Laboratorio no tiene ni e ni s

## Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

### While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [65]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [66]:
i = 0
a = 0
while i < 10:
    print(2*i+1)
    i += 1

1
3
5
7
9
11
13
15
17
19

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

### For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [67]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [68]:
for i in ['Este','es ','el','segundo','laboratorio','de','Métodos', 'Numéricos']:
    print(i)

Este
es
el
segundo
laboratorio
de
Métodos
Numéricos

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [69]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [70]:
palabra = 'L a b o r a t o r i o 2'
a = palabra.split(' ')
palabra2 ='a e i o u'
b = palabra2.split(' ')
for i in a:
    if i not in b:
        print(i)

L
b
r
t
r
2

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

### Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [71]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [72]:
palabra = 'L a b o r a t o r i o 2'
a = palabra.split(' ')
for i in a:
    print(i)
    if i == 't':
      break

L
a
b
o
r
a
t

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [73]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [74]:
palabra = 'L a b o r a t o r i o 2'
a = palabra.split(' ')
for i in a:
  if i == 't':
    continue
  print(i)

L
a
b
o
r
a
o
r
i
o
2

## List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [75]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [76]:
impares = []
for i in [1,2,3,4]:
    impares.append(i*2+1)
print(impares)

[3, 5, 7, 9]

Using list comprehension:

In [77]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [78]:
lista = [1,2,3,4]
impares = [i*2+1 for i in lista]
print(impares)

[3, 5, 7, 9]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [79]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [80]:
palabra = 'L a b o r a t o r i o 2'
a = palabra.split(' ')
palabra2 ='a e i o u'
b = palabra2.split(' ')
nueva_palabra = [i for i in a if i not in b]
print(nueva_palabra)

['L', 'b', 'r', 't', 'r', '2']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [81]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [82]:
print([(x,y) for x in [1,2,5,9,10,12,7,16] for y in [1,4,8,11,2,15,9,18] if x == y])
print([str(x) + str(y) for x in['L','b','r','t','r','o'] for y in ['a','o','a','o','i'] if x != y])

[(1, 1), (2, 2), (9, 9)]
['La', 'Lo', 'La', 'Lo', 'Li', 'ba', 'bo', 'ba', 'bo', 'bi', 'ra', 'ro', 'ra', 'ro', 'ri', 'ta', 'to', 'ta', 'to', 'ti', 'ra', 'ro', 'ra', 'ro', 'ri', 'oa', 'oa', 'oi']

List comprehension is an elegant way to organize one or more for loops when creating a list.

## Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

#Tercer Laboratorio. Tutorial 3 Python: Functions and Objective-Oriented Programming

## 03 Functions and Objective-Oriented Programming

### Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

### Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [83]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [84]:
def numero_mayor(x,y):
    if x==y:
      return (x,y)
    elif x > y:
      return x
    else:
      return y
print(numero_mayor(3,3))
print(numero_mayor(15,10))

(3, 3)
15

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [85]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [86]:
def lab3():
    print('Hola, este es el laboratorio 3 de métodos numéricos')
lab3()

Hola, este es el laboratorio 3 de métodos numéricos

## Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [87]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [88]:
x = range(0,10)

for i in x:
  print(i)

0
1
2
3
4
5
6
7
8
9

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [89]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [90]:
mi_cadena = "E s t e e s e l l a b o r a t o r i o 3"
lab = mi_cadena.split(' ')
for i in range(len(lab)):
  print(lab[i])

E
s
t
e
e
s
e
l
l
a
b
o
r
a
t
o
r
i
o
3

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from 

1.   Elemento de lista
2.   Elemento de lista

builtins we del list

In [91]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [92]:
print(list)

<class 'list'>

In [93]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [94]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [95]:
lista = ['curso','de','metodos','numéricos']
list(map(len,lista))

[5, 2, 7, 9]

In [96]:
lista = ['curso','de','metodos','numéricos']
print(list(map(len,lista)))

[5, 2, 7, 9]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [97]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [98]:
list(map(lambda x: (x*(x+1))/2, range(10)))

[0.0, 1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0]

map() can be applied to more than one list. The lists have to have the same length.

In [99]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [100]:
list(map(lambda x, y: x**y, [2,4,1,7,1,4],[1,2,3,9,8,7]))

[2, 16, 1, 40353607, 1, 16384]

**sorted()** takes a list or set and returns a new sorted list

In [101]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [102]:
listilla = [2021,2022,2000,2001,2020]
conjunto = set(listilla)
sorted(conjunto)

[2000, 2001, 2020, 2021, 2022]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [103]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [104]:
mis_semestres = [('2021-1',7),('2020-1',5),('2021-2',8),('2019-1',3),('2020-2',6),('2018-2',2),('2018-1',1),('2019-2',4)]
sorted(mis_semestres, key = lambda x: x[1])

[('2018-1', 1),
 ('2018-2', 2),
 ('2019-1', 3),
 ('2019-2', 4),
 ('2020-1', 5),
 ('2020-2', 6),
 ('2021-1', 7),
 ('2021-2', 8)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [105]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [106]:
mis_semestres = [('2021-1',7),('2020-1',5),('2021-2',8),('2019-1',3),('2020-2',6),('2018-2',2),('2018-1',1),('2019-2',4)]
sorted(mis_semestres, key = lambda y: y[1],reverse = True)

[('2021-2', 8),
 ('2021-1', 7),
 ('2020-2', 6),
 ('2020-1', 5),
 ('2019-2', 4),
 ('2019-1', 3),
 ('2018-2', 2),
 ('2018-1', 1)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [107]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [108]:
mis_semestres = [('2021-1',7),('2020-1',5),('2021-2',8),('2019-1',3),('2020-2',6),('2018-2',2),('2018-1',1),('2019-2',4)]
mis_semestres.sort(key = lambda y: y[1])
print(mis_semestres)

[('2018-1', 1), ('2018-2', 2), ('2019-1', 3), ('2019-2', 4), ('2020-1', 5), ('2020-2', 6), ('2021-1', 7), ('2021-2', 8)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [109]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [181]:
#Creamos la clase materia
class materia:
  def __init__(self,nombre,creditos):
    self.nombre = nombre
    self.creditos = creditos
  
  def print_info(self):
    print(self.nombre + ', ' + str(self.creditos) + ' créditos')

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [110]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [182]:
#creamos la primera materia
materia1 = materia('Métodos Numéricos', 3)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [111]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [183]:
#llamamos el método imprimir la información de la materia
materia1.print_info()

Métodos Numéricos, 3 créditos

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [112]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [185]:
materia1.nombre='Algorítmos'
materia1.nombre
materia1.print_info()

Algorítmos, 3 créditos

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [113]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [186]:
dir(materia1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'creditos',
 'nombre',
 'print_info']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [114]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [187]:
class electiva(materia):
  def __init__(self,nombre,creditos):
    self.nombre = nombre
    self.creditos = creditos

In [115]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [189]:
astronomia = electiva('Astronomía para Todos', 2)
print(astronomia.nombre)
print(astronomia.creditos)
astronomia.print_info()

Astronomía para Todos
2
Astronomía para Todos, 2 créditos

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

#Cuarto Laboratorio. Tutorial 4 Python: NumPy and Basic Pandas

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [116]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [117]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [190]:
mi_lista_normal = [12,11,3,5,7,122]
arreglo_numpy = np.array(mi_lista_normal)
print(arreglo_numpy, type(arreglo_numpy))

[ 12  11   3   5   7 122] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [118]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [194]:
mi_matriz = np.array([[2018,2019],[2020,2021],[2022,2023]])
print(mi_matriz, type(mi_matriz))

[[2018 2019]
 [2020 2021]
 [2022 2023]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [119]:
print(Ar.shape)

(2, 2)

In [195]:
print(mi_matriz.shape)

(3, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [120]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [201]:
print(mi_matriz[0])
print(mi_matriz[1])
print(mi_matriz[2])

[2018 2019]
[2020 2021]
[2022 2023]

If we want to access the matrix by column instead:

In [121]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [202]:
print('Primera columna ', mi_matriz[:,0])
print('La Segunda columna: ', mi_matriz[:,1])

Primera columna  [2018 2020 2022]
La Segunda columna:  [2019 2021 2023]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [122]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

In [203]:
print(np.log(arreglo_numpy))

[2.48490665 2.39789527 1.09861229 1.60943791 1.94591015 4.80402104]

Other functions return a single value:

In [123]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [205]:
print(np.mean(arreglo_numpy))
print(np.std(arreglo_numpy))
print(np.sum(arreglo_numpy))
print(np.max(arreglo_numpy))

26.666666666666668
42.74991877835039
160
122

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [124]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [125]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [208]:
lista_serie = [12,11,3,5,7,122]
mi_serie = pd.Series(lista_serie)
mi_serie

0     12
1     11
2      3
3      5
4      7
5    122
dtype: int64

We can customize the indices of a new Series:

In [126]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [210]:
mi_serie = pd.Series(lista_serie,index = ['L','A','B','O','R','A'])
mi_serie

L     12
A     11
B      3
O      5
R      7
A    122
dtype: int64

Or we can change the indices of an existing Series:

In [127]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [212]:
mi_serie.index = ['M','E','T','O','D','O']
mi_serie

M     12
E     11
T      3
O      5
D      7
O    122
dtype: int64

Series is like a list since it can be sliced by index:

In [128]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [213]:
print(mi_serie[1:])
print(mi_serie[:-2])

E     11
T      3
O      5
D      7
O    122
dtype: int64
M    12
E    11
T     3
O     5
dtype: int64

Series is also like a dictionary whose values can be set or fetched by index label:

In [129]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [214]:
print(mi_serie['T'])
mi_serie['T'] = 0
print(mi_serie)

3
M     12
E     11
T      0
O      5
D      7
O    122
dtype: int64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [130]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [215]:
mi_serie = pd.Series(lista_serie, name = 'Lista de prueba para ser serie')
print(mi_serie)
print(mi_serie.name)

0     12
1     11
2      3
3      5
4      7
5    122
Name: Lista de prueba para ser serie, dtype: int64
Lista de prueba para ser serie

We can get the statistical summaries of a Series:

In [131]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

In [216]:
print(mi_serie.describe())

count      6.000000
mean      26.666667
std       46.830190
min        3.000000
25%        5.500000
50%        9.000000
75%       11.750000
max      122.000000
Name: Lista de prueba para ser serie, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [132]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

In [219]:
indice_tiempo = pd.date_range('2021-06-01',periods = len(mi_serie),freq = 'D')
print(indice_tiempo)
mi_serie.index = indice_tiempo
print(mi_serie)

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06'],
              dtype='datetime64[ns]', freq='D')
2021-06-01     12
2021-06-02     11
2021-06-03      3
2021-06-04      5
2021-06-05      7
2021-06-06    122
Freq: D, Name: Lista de prueba para ser serie, dtype: int64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [133]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

In [220]:
mi_serie.index = [1,2,3,4,5,6]
print(mi_serie)
print(mi_serie[1])

1     12
2     11
3      3
4      5
5      7
6    122
Name: Lista de prueba para ser serie, dtype: int64
12

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [221]:
print(s.iloc[1])

145.83

In [222]:
print(mi_serie.iloc[1])

11

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [135]:
s.index = time_index
print(s['2017-01-03'])

143.68

In [223]:
mi_serie.index = indice_tiempo
print(mi_serie['2021-06-03'])

3

We can even access to a range of dates:

In [136]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

In [224]:
print(mi_serie['2021-06-03':'2021-06-06'])

2021-06-03      3
2021-06-04      5
2021-06-05      7
2021-06-06    122
Freq: D, Name: Lista de prueba para ser serie, dtype: int64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [137]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

In [227]:
print(mi_serie[mi_serie < np.mean(mi_serie)] )
print([(mi_serie > np.mean(mi_serie)) & (mi_serie > np.mean(mi_serie) + np.std(mi_serie))])

2021-06-01    12
2021-06-02    11
2021-06-03     3
2021-06-04     5
2021-06-05     7
Freq: D, Name: Lista de prueba para ser serie, dtype: int64
[2021-06-01    False
2021-06-02    False
2021-06-03    False
2021-06-04    False
2021-06-05    False
2021-06-06     True
Freq: D, Name: Lista de prueba para ser serie, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [138]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.64)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)

In [139]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.32, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.35, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.296, 'beta3Year': None, 'enterpriseToEbitda': 22.832, '52WeekChange': 0.27286732, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58676, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3155439, 'priceToBook': 38.20711, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2532822482944, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.062434, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.158731, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 148.76, 'regularMarketOpen': 148.7, 'twoHundredDayAverage': 139.00964, 'trailingAnnualDividendYield': 0.005613068, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.7522, 'navPrice': None, 'averageDailyVolume10Day': 73697228, 'regularMarketPreviousClose': 148.76, 'fiftyDayAverage': 146.47115, 'trailingAnnualDividendRate': 0.835, 'open': 148.7, 'toCurrency': None, 'averageVolume10days': 73697228, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 148.12, 'currency': 'USD', 'trailingPE': 29.036808, 'regularMarketVolume': 37632755, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2451759431680, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76845849, 'dayLow': 148.12, 'ask': 148.85, 'askSize': 1300, 'volume': 37632755, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.84, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 800, 'dayHigh': 149.7522, 'regularMarketPrice': 148.32, 'preMarketPrice': 148.7, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655168  24.291444  23.514542  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719189  22.848288  22.306532  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827756  42.004953  41.784656  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731061  40.893888  40.637675  ...   85992800        0.0             0
2017-12-28  40.946561  41.150098  40.822044  ...   65920800        0.0             0
2017-12-29  40.831625  40.848385  40.520335  ...  103999600        0.0             0

[503 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [140]:
aapl = aapl_table['Close']['2017']

In [141]:
print(aapl)

Date
2017-01-03    27.372360
2017-01-04    27.341722
2017-01-05    27.480764
2017-01-06    27.787132
2017-01-09    28.041645
                ...
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965717
2017-12-29    40.522728
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [142]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889843
2017-03-03    33.083908
2017-03-06    32.979774
2017-03-07    33.022385
2017-03-08    32.899300
2017-03-09    32.823551
2017-03-10    32.932446
2017-03-13    32.946636
2017-03-14    32.896935
2017-03-15    33.244869
2017-03-16    33.299305
2017-03-17    33.133625
2017-03-20    33.481548
2017-03-21    33.098122
2017-03-22    33.472084
2017-03-23    33.353748
2017-03-24    33.287468
2017-03-27    33.344273
2017-03-28    34.035393
2017-03-29    34.111130
2017-03-30    34.066158
2017-03-31    34.002262
Name: Close, dtype: float64

In [143]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341732
2017-02-02    30.289885
2017-02-03    30.419498
2017-02-06    30.704651
2017-02-07    30.996872
                ...
2017-04-24    33.997517
2017-04-25    34.208164
2017-04-26    34.006989
2017-04-27    34.033024
2017-04-28    33.999882
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [144]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372360
2017-01-04    27.341722
2017-01-05    27.480764
2017-01-06    27.787132
2017-01-09    28.041645
Name: Close, dtype: float64
Date
2017-12-15    41.657742
2017-12-18    42.244404
2017-12-19    41.794231
2017-12-20    41.748741
2017-12-21    41.906776
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965717
2017-12-29    40.522728
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [145]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819260
2017-05-31    36.125683
2017-06-30    35.133982
2017-07-31    35.245242
2017-08-31    37.897228
2017-09-30    37.604738
2017-10-31    37.654549
2017-11-30    41.233915
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [146]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495495
2017-01-15    28.097734
2017-01-22    28.266119
2017-01-29    28.553980
2017-02-05    29.662545
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [147]:
aapl.resample('M').max()

Date
2017-01-31    28.739212
2017-02-28    32.451965
2017-03-31    34.111130
2017-04-30    34.264980
2017-05-31    37.099121
2017-06-30    36.944649
2017-07-31    36.471703
2017-08-31    39.129723
2017-09-30    39.141651
2017-10-31    40.332241
2017-11-30    42.050137
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [148]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398282
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078174
2017-01-15    28.279671
                ...
2017-12-17    42.019318
2017-12-20    41.854098
2017-12-23          NaN
2017-12-26    40.886702
2017-12-29    40.522728
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495495
2017-01-22    28.172572
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017883
2017-04-02    33.625219
2017-04-16    33.849726
2017-04-30    33.791841
2017-05-14    35.697630
2017-05-28    36.496179
2017-06-11    36.515006
2017-06-25    34.529044
2017-07-09    34.265134
2017-07-23    35.278870
2017-08-06    36.272776
2017-08-20    37.904119
2017-09-03    38.458792
2017-09-17    38.282707
2017-10-01    36.840874
2017-10-15    37.071595
2017-10-29    37.757319
2017-11-12    41.032237
2017-11-26    41.204376
2017-12-10    40.867066
2017-12-24    41.620868
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056853
2017-07-31    35.186963
2017-09-30    37.761186
2017-11-30    39.402612
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [149]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203369
2017-01-15    0.072530
2017-01-22    0.025555
2017-01-29    0.245283
2017-02-05    0.943263
2017-02-12    0.251999
2017-02-19    0.231397
2017-02-26    0.059342
2017-03-05    0.340090
2017-03-12    0.076291
2017-03-19    0.177838
2017-03-26    0.157263
2017-04-02    0.319806
2017-04-09    0.128688
2017-04-16    0.212475
2017-04-23    0.174675
2017-04-30    0.090023
2017-05-07    0.235638
2017-05-14    0.352977
2017-05-21    0.536093
2017-05-28    0.060396
2017-06-04    0.281222
2017-06-11    0.620038
2017-06-18    0.382565
2017-06-25    0.128891
2017-07-02    0.264111
2017-07-09    0.158888
2017-07-16    0.404285
2017-07-23    0.124990
2017-07-30    0.384443
2017-08-06    0.924392
2017-08-13    0.467466
2017-08-20    0.435250
2017-08-27    0.275763
2017-09-03    0.251723
2017-09-10    0.381639
2017-09-17    0.294141
2017-09-24    0.735190
2017-10-01    0.354841
2017-10-08    0.204856
2017-10-15    0.118734
2017-10-22    0.516998
2017-10-29    0.680457
2017-11-05    0.560685
2017-11-12    0.190969
2017-11-19    0.436199
2017-11-26    0.563046
2017-12-03    0.427444
2017-12-10    0.073130
2017-12-17    0.205265
2017-12-24    0.194123
2017-12-31    0.190393
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279671
2017-01-29    28.739212
2017-02-05    30.419498
2017-02-12    31.341906
2017-02-19    32.122974
2017-02-26    32.451965
2017-03-05    33.086285
2017-03-12    33.022385
2017-03-19    33.299305
2017-03-26    33.481548
2017-04-02    34.111130
2017-04-09    34.264980
2017-04-16    33.886276
2017-04-23    33.713501
2017-04-30    34.208164
2017-05-07    35.256691
2017-05-14    37.099121
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925636
2017-06-18    34.838959
2017-06-25    34.779537
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421227
2017-07-23    35.891804
2017-07-30    36.471703
2017-08-06    37.346298
2017-08-13    38.277931
2017-08-20    38.557095
2017-08-27    38.170559
2017-09-03    39.141651
2017-09-10    38.671619
2017-09-17    38.533237
2017-09-24    37.872318
2017-10-01    36.798645
2017-10-08    37.075417
2017-10-15    37.457165
2017-10-22    38.287483
2017-10-29    38.903057
2017-11-05    41.157791
2017-11-12    42.050137
2017-11-19    41.657742
2017-11-26    41.897205
2017-12-03    41.686474
2017-12-10    40.659218
2017-12-17    41.657742
2017-12-24    42.244404
2017-12-31    40.965717
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341722
2017-01-15    28.041645
2017-01-22    28.227823
2017-01-29    28.272600
2017-02-05    28.597815
2017-02-12    30.704651
2017-02-19    31.547819
2017-02-26    32.314693
2017-03-05    32.409359
2017-03-12    32.823551
2017-03-19    32.896935
2017-03-26    33.098122
2017-04-02    33.344273
2017-04-09    33.926517
2017-04-16    33.384502
2017-04-23    33.296928
2017-04-30    33.997517
2017-05-07    34.681541
2017-05-14    36.215260
2017-05-21    35.708805
2017-05-28    36.443172
2017-06-04    36.305340
2017-06-11    35.406963
2017-06-18    33.812256
2017-06-25    34.463451
2017-07-02    34.147354
2017-07-09    33.921585
2017-07-16    34.475330
2017-07-23    35.544811
2017-07-30    35.530556
2017-08-06    35.347557
2017-08-13    37.058716
2017-08-20    37.578854
2017-08-27    37.509663
2017-09-03    38.526077
2017-09-10    37.848461
2017-09-17    37.764954
2017-09-24    36.240334
2017-10-01    35.920616
2017-10-08    36.619698
2017-10-15    37.182770
2017-10-22    37.216187
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486813
2017-11-26    40.702324
2017-12-03    40.582596
2017-12-10    40.470047
2017-12-17    41.114185
2017-12-24    41.748741
2017-12-31    40.522728
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [150]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597815
2017-02-28    32.423569
2017-03-31    34.002262
2017-04-30    33.999882
2017-05-31    36.305340
2017-06-30    34.228161
2017-07-31    35.347557
2017-08-31    39.129723
2017-09-30    36.772388
2017-10-31    40.332241
2017-11-30    41.150101
2017-12-31    40.522728
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [151]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027685
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [152]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863302065680383
0.05225859810144611
0.09901818794539397

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [153]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825754
2017-03-31    1.578693
2017-04-30   -0.002380
2017-05-31    2.305458
2017-06-30   -2.077179
2017-07-31    1.119396
2017-08-31    3.782166
2017-09-30   -2.357334
2017-10-31    3.559853
2017-11-30    0.817860
2017-12-31   -0.627373
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [154]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [155]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [156]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [157]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [158]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906776
2017-12-26    40.843601
2017-12-27    40.850788
2017-12-28    40.965717
2017-12-29    40.522728
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [159]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852382  22.440245  21.750946  ...  257666000        0.0             0
2016-02-29  22.450759  22.768306  22.402084  ...  140865200        0.0             0
2016-03-31  25.431524  25.473245  25.236823  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226405  23.412963  23.044512  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773056  24.986413  24.768365  ...  118649600        0.0             0
2016-09-30  26.367386  26.580745  26.212643  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300088  26.441486  25.986654  ...  144649200        0.0             0
2016-12-31  27.490195  27.619809  27.202685  ...  122345200        0.0             0

[12 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [160]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245
2016-02-29  22.450759  22.768306  22.402084  22.411356
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226405  23.412963  23.044512  23.287037
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490195  27.619809  27.202685  27.294594

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [161]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-04-30  21.785531  21.954736  21.442489  21.727585
2016-05-31  23.226405  23.412963  23.044512  23.287037
2016-06-30  22.023112  22.333262  21.990464  22.293619

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [162]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431524  25.473245  25.236823  25.262320
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490195  27.619809  27.202685  27.294594

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [163]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [164]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [165]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [166]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245     0.000000
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [167]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [168]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281685
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN   3.110856
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287   3.109568
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652   3.213912
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504   3.277360
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334   3.281685
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601   3.259848
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [169]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490195  27.619809  27.202685  27.294594
2017-01-31  28.550682  28.607241  28.425781  28.597815
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016463  34.146641  33.848414  34.002262
2017-04-30  34.104024  34.153730  33.909944  33.999882

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [170]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852382  22.440245  ...          NaN           NaN
2016-02-29  22.450759  22.768306  ...          NaN           NaN
2016-03-31  25.431524  25.473245  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226405  23.412963  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296780  24.380731  ...          NaN           NaN
2016-08-31  24.773056  24.986413  ...          NaN           NaN
2016-09-30  26.367386  26.580745  ...          NaN           NaN
2016-10-31  26.646394  26.782382  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490195  27.619809  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [171]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646394  26.782382  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490195  27.619809  ...  122345200             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [172]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104024  34.153730  33.909944  33.999882          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [173]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646394  26.782382  26.540886  26.620604          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569          NaN
2017-03-31  34.016463  34.146641  33.848414  34.002262          NaN
2017-04-30  34.104024  34.153730  33.909944  33.999882          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [174]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN        NaN
2016-02-29  22.450759  22.768306  22.402084  22.411356    -0.001287        NaN
2016-03-31  25.431524  25.473245  25.236823  25.262320     0.127211        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226405  23.412963  23.044512  23.287037     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063        NaN
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652        NaN
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504        NaN
2016-10-31  26.646394  26.782382  26.540886  26.620604     0.004334        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955        NaN
2016-10-31        NaN  26.782382  26.540886  26.620604          NaN  26.646394
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619809  27.202685  27.294594          NaN  27.490195
2017-01-31        NaN  28.607241  28.425781  28.597815          NaN  28.550682
2017-02-28        NaN  32.530077  32.354928  32.423569          NaN  32.444870
2017-03-31        NaN  34.146641  33.848414  34.002262          NaN  34.016463
2017-04-30        NaN  34.153730  33.909944  33.999882          NaN  34.104024

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.