<div align="center">
<br></br>

<b>Universidad Nacional de Colombia</b>

<b>Métodos Numéricos - Grupo 1</b>

<b>Primer Laboratorio</b>

</div>

<div align="right">

<b>Presentado por: Juan Andrés Gonzalez Arias</b>

</div>

<br></br>

#Primer Laboratorio. Tutorial 1 Python: Data Types and Data Structures

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

### 01 Data Types and Data Structures

### Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

### Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [2]:
mi_cadena = 'Hola Juan'
mi_cadena2 = "Andrés Gonzalez Arias"
print(mi_cadena + ' ' + mi_cadena2)

Hola Juan Andrés Gonzalez Arias

An integer is a round number with no values after the decimal point.

In [3]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [4]:
mi_entero = 2021
print(mi_entero)
print(type(mi_entero))

2021
<class 'int'>

The built-in function int() can convert a string into an integer.

In [5]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [6]:
mi_cadena = "2021"
print(type(mi_cadena))
mi_entero = int(mi_cadena)
print(type(mi_entero))
print(mi_entero)

<class 'str'>
<class 'int'>
2021

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [7]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [8]:
mi_cadena = "2021"
mi_float = float(mi_cadena)
print(type(mi_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [9]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [10]:
mi_booleano = True
print(mi_booleano)
print(type(mi_booleano))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [11]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [12]:
print("Suma -> ", 2020+1)
print("Resta -> ", 2023-2)
print("Multiplicación -> ", 1011*2)
print("División -> ", 4042/2)
print('Potenciación -> ', 21**3)

Suma ->  2021
Resta ->  2021
Multiplicación ->  2022
División ->  2021.0
Potenciación ->  9261

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [13]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [14]:
print(5/3)
print(5/3)

1.6666666666666667
1.6666666666666667

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [15]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [16]:
mi_lista = ['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]
print(mi_lista)

['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [17]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [18]:
mi_lista = ['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]
print(len(mi_lista))
print(mi_lista[0])
print(mi_lista[len(mi_lista) -1])

5
Juan Andrés Gonzalez
2021

You can also change the elements in the list by accessing an index and assigning a new value.

In [19]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [20]:
mi_lista = ['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]
mi_lista[2] = 'Grupo 1'
print(mi_lista)

['Juan Andrés Gonzalez', 'Métodos Numéricos', 'Grupo 1', 10, 2021]

A list can also be sliced with a colon:

In [21]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [22]:
mi_lista = ['Juan Andrés Gonzalez', 'Métodos Numéricos', 16, 10, 2021]
print(mi_lista[1:4])

['Métodos Numéricos', 16, 10]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [23]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [24]:
print(mi_lista[1:])

['Métodos Numéricos', 16, 10, 2021]

And all elements up to but excluding index 3:

In [25]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [26]:
print(mi_lista[:3])

['Juan Andrés Gonzalez', 'Métodos Numéricos', 16]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [27]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [28]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [29]:
mi_lista2 = ['Juano', 'Juan Gonzalez']
mi_lista2.append('Juano')
print(mi_lista2)

['Juano', 'Juan Gonzalez', 'Juano']

In [30]:
mi_lista2.remove('Juano')
print(mi_lista2)

['Juan Gonzalez', 'Juano']

When there are repeated instances of "Hello" or "Juano", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [31]:
my_tuple = ('Welcome','to','QuantConnect')

In [32]:
mi_tupla = ('El Curso','de','Métodos Numéricos')

Just like a list, a tuple can be sliced by using index.

In [33]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [34]:
mi_tupla = ('El Curso','de','Métodos Numéricos')
print(mi_tupla[1:])

('de', 'Métodos Numéricos')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [35]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'IBM', 'AAPL', 'FB', 'F', 'GOOG'}

In [36]:
lista_conjunto = ['MN','ALG','GERGES','OPT','REDCOMP','ALG','OPT']
mi_conjunto = set(lista_conjunto)
print(mi_conjunto)

{'MN', 'REDCOMP', 'ALG', 'OPT', 'GERGES'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [37]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [38]:
print(my_dic['GOOG'])

Alphabet

In [39]:
mi_diccionario = {'MN':'Métodos Numéricos', 'ALG':'Algorítmos', 'GER':'Gerencia', 'OPT':'Optimización'}

In [40]:
print(mi_diccionario['MN'])

Métodos Numéricos

After defining a dictionary, we can access any value by indicating its key in brackets.

In [41]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [42]:
mi_diccionario['GER'] = 'Gerencia y Gestión'
print(mi_diccionario['GER'])

Gerencia y Gestión

We can also change the value associated with a specified key:

In [43]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [44]:
print(mi_diccionario.keys())

dict_keys(['MN', 'ALG', 'GER', 'OPT'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [45]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [46]:
mi_string = 'Primer Laboratorio de Métodos Numéricos'
print(mi_string[7:])

Laboratorio de Métodos Numéricos

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [47]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [48]:
print('Cuantas letras s aparecen en esta frase'.count('s'))
print('La primera vez que a aparece en la frase'.find('a'))
print('Las letras e de esta frase se convierten en i'.replace('e','i'))

5
1
Las litras i di ista frasi si conviirtin in i

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [49]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [50]:
Time = '2021-10-06 21:40:00'
tiempo_dividido = Time.split(' ')
fecha = tiempo_dividido[0]
tiempo = tiempo_dividido[1]
print(fecha, tiempo)
hora = tiempo.split(':')[0]
print(hora)

2021-10-06 21:40:00
21

We can replace parts of a string by our variable. This is called string formatting.

In [51]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [52]:
mi_tiempo = 'Hora: {}, Minuto:{}'.format('21','44')
print(mi_tiempo)

Hora: 21, Minuto:44

Another way to format a string is to use the % symbol.

In [53]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [54]:
print('la raíz cuadrada de 2 es %f'%1.41421)
print('%s de %s'%('Laboratorio','Metodos numéricos'))

la raíz cuadrada de 2 es 1.414210
Laboratorio de Metodos numéricos

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

#Segundo Laboratorio. Tutorial 2 Python: Logical Operations and Loop

## 02 Logical Operations and Loops

## Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

## Logical Operations
Like most programming languages, Python has comparison operators:

In [55]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [56]:
print(2 == 1)
print(3 == 3)
print(12 != 2)
print(2021 >= 2021)
print(2020 >= 2021)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [57]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [58]:
print(2021 > 2020 and 2022 > 2021)
print(2021 > 2020 and 2022 < 2021) 
print(2021 > 2020 or 2022 < 2021)
print(2021 < 2020 and 2022 < 2021)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [59]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [60]:
print((2021 > 2022 and 2022 >2023) and (2020 < 2021 and 2022 != 2021) and not (2021 != 2021))
print((2021 < 2022 and not 2022 >2023) or (2020 < 2021 and 2022 != 2021) and not (2021 != 2021))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

## If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [61]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [62]:
i = "Laboratorio"
if 'x' in i:
  print('Laboratorio si tiene la letra a')

As we mentioned above, we can write some complex statements here:

In [63]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [64]:
i = "Laboratorio"
if 'e' in i:
  print('Laboratorio si tiene la letra e')
elif 's' in i:
  print('Laboratorio si tiene la letra s')
else:
  print('Laboratorio no tiene ni e ni s')

Laboratorio no tiene ni e ni s

## Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

### While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [65]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [66]:
i = 0
a = 0
while i < 10:
    print(2*i+1)
    i += 1

1
3
5
7
9
11
13
15
17
19

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

### For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [67]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [68]:
for i in ['Este','es ','el','segundo','laboratorio','de','Métodos', 'Numéricos']:
    print(i)

Este
es
el
segundo
laboratorio
de
Métodos
Numéricos

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [69]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [70]:
palabra = 'L a b o r a t o r i o 2'
a = palabra.split(' ')
palabra2 ='a e i o u'
b = palabra2.split(' ')
for i in a:
    if i not in b:
        print(i)

L
b
r
t
r
2

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

### Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [71]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [72]:
palabra = 'L a b o r a t o r i o 2'
a = palabra.split(' ')
for i in a:
    print(i)
    if i == 't':
      break

L
a
b
o
r
a
t

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [73]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [74]:
palabra = 'L a b o r a t o r i o 2'
a = palabra.split(' ')
for i in a:
  if i == 't':
    continue
  print(i)

L
a
b
o
r
a
o
r
i
o
2

## List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [75]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [76]:
impares = []
for i in [1,2,3,4]:
    impares.append(i*2+1)
print(impares)

[3, 5, 7, 9]

Using list comprehension:

In [77]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [78]:
lista = [1,2,3,4]
impares = [i*2+1 for i in lista]
print(impares)

[3, 5, 7, 9]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [79]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [80]:
palabra = 'L a b o r a t o r i o 2'
a = palabra.split(' ')
palabra2 ='a e i o u'
b = palabra2.split(' ')
nueva_palabra = [i for i in a if i not in b]
print(nueva_palabra)

['L', 'b', 'r', 't', 'r', '2']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [81]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [82]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

## Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.